---
- name: Change group ownership permissions
  file:
    path: /opt/tomcat
    state: directory
    owner: tomcat
    group: tomcat

- name: give the tomcat group read access to the conf directory
  file:
    path: /opt/tomcat/conf
    recurse: yes
    mode: g+r
    state: directory

- name: give execute access to the directory 
  file:
    path: /opt/tomcat/conf
    mode: g+x
    state: directory

- name:  tomcat user the owner of the webapps
  file:
    path: /opt/tomcat/webapps/
    recurse: yes
    user: tomcat
    state: directory 

- name:  tomcat user the owner of the work
  file:
    path: /opt/tomcat/work/
    recurse: yes
    user: tomcat
    state: directory 

- name:  tomcat user the owner of the temp
  file:
    path: /opt/tomcat/temp/
    recurse: yes
    user: tomcat
    state: directory 

- name:  tomcat user the owner of the logs 
  file:
    path: /opt/tomcat/logs/
    recurse: yes
    user: tomcat
    state: directory 