---
- name: Change group ownership permissions
  file:
    path: /opt/tomcat
    state: directory
    owner: tomcat
    group: tomcat

- name: give the tomcat group read access to the conf directory
  file:
    path: /opt/tomcat/conf
    recurse: yes
    mode: g+r
    state: directory

- name: give execute access to the directory 
  file:
    path: /opt/tomcat/conf
    mode: g+x
    state: directory
