---
- name: Change group ownership permissions
  file:
    path: /opt/tomcat
    state: directory
    owner: tomcat
    group: tomcat

- name: give the tomcat group read access to the conf directory
  file:
    path: /opt/tomcat/conf
    recurse: yes
    mode: g+r
    state: directory

- name: give execute access to the directory 
  file:
    path: /opt/tomcat/conf
    mode: g+x
    state: directory

- name: Change file ownership, group and permissions
  file:
    path: /opt/tomcat/webapps/
    owner: tomcat
    user: tomcat
    state: directory

    

- name: make the tomcat user the owner of the webapps directories
  file:
    path: /opt/tomcat/webapps/
    recurse: yes
    user: tomcat
    state: directory

- name: make the tomcat user the owner of the work directories
  file:
    path: /opt/tomcat/work/
    recurse: yes
    user: tomcat
    state: directory

- name: make the tomcat user the owner of the temp directories
  file:
    path: /opt/tomcat/temp/
    recurse: yes
    user: tomcat
    state: directory

- name: make the tomcat user the owner of the logs directories
  file:
    path: /opt/tomcat/logs/
    recurse: yes
    user: tomcat
    state: directory
